.bg-1 {
    background-color: #9e593f;
    color: #ffffff;
}

.bg-2 {
    background-color: #35343e;
    color: #35343e;
}

.bg-3 {
    background-color: #b7845e;
}

.bg-4 {
    background-color: #37ace0;
}

.bg-5 {
    background-color: #f8f8f8;
}